---
import Base from "../layouts/Base.astro";
import data from "../data.json";
import { Debug } from "astro:components";
import Toggle from "../components/Toggle";
import Row from "../components/Row";

// parse date into UTF+8
const lastUpdated = new Date(parseInt(data.lastUpdated));

type Area = {
    name: string;
    subareas: SubArea[];
};

type SubArea = {
    name: string;
    okCount: number;
    totalCount: number;
};

// group by their area id
const areaMap = new Map<
    number,
    { id: number; name: string; subAreas: SubArea[] }
>();

for (const area of data.data) {
    const { areaId, areaName, subAreaId, subAreaName, flvAvailabilities } =
        area;
    var areaObj = areaMap.get(areaId);
    if (!areaObj) {
        areaObj = {
            id: areaId,
            name: areaName,
            subAreas: [],
        };
        areaMap.set(areaId, areaObj);
    }
    areaObj.subAreas.push({
        name: subAreaName,
        okCount: flvAvailabilities.filter((a) => a).length,
        totalCount: flvAvailabilities.length,
    });
}

// sort by area id ascending
const areas: Area[] = Array.from(areaMap.values())
    .sort((a, b) => a.id - b.id)
    .map((area) => ({
        name: area.name,
        subareas: area.subAreas,
    }));

const threshold = 0.6;

function getChar(area: SubArea): string {
    const { okCount, totalCount } = area;
    if (okCount === totalCount) return "苟！";
    if (okCount / totalCount >= threshold) return "苟？";
    return "寄！";
}

function getColor(area: SubArea): string {
    const { okCount, totalCount } = area;
    if (okCount === totalCount) return "text-green-500";
    if (okCount / totalCount >= threshold) return "text-orange-500";
    return "text-red-500";
}

function getTitle(area: SubArea): string {
    return `本分区最近 ${area.totalCount} 次检测中，有 ${area.okCount} 次检测到提供了 FLV 流。`;
}
---

<Base title="Are we HLS yet?">
    <div class="mx-auto my-4 p-4 max-w-prose text-center">
        <h1 class="font-bold text-5xl py-12" title="录播姬支持 HLS 了吗？">
            Are
            <ruby>we<rp>(</rp><rt>录播姬</rt><rp>)</rp></ruby>
             HLS yet?
        </h1>
        <p class="font-bold text-4xl text-red-500" title="没有">NOPE</p>
    </div>
    <div class="mx-auto max-w-prose p-4 my-6 text-center">
        <h2 class="text-4xl" title="哪些分区被划入只提供 HLS 的列表了？">
            寄了吗？
        </h2>
        <p class="text-slate-500 my-2">
            更新时间：{
                lastUpdated.toLocaleString("zh-CN", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric",
                    timeZone: "Asia/Shanghai",
                })
            }
        </p>
        <Toggle client:load />
        {
            areas.map((area) => (
                <div class="my-2">
                    <details class="py-4" open>
                        <summary class="text-3xl underline underline-offset-4 hover:cursor-pointer">
                            <h3 class="inline text-3xl">{area.name}</h3>
                        </summary>
                        <div class="w-full my-4 border-collapse">
                            {area.subareas.map((subarea) => (
                                <Row
                                    ignore={
                                        subarea.okCount !== subarea.totalCount
                                    }
                                    client:load
                                >
                                    <div class="flex">
                                        <div class="text-2xl p-2 border border-slate-600 flex-1">
                                            <span class="align-middle">
                                                {subarea.name}
                                            </span>
                                        </div>
                                        <div
                                            class="text-2xl w-20 p-2 border border-slate-600"
                                            title={getTitle(subarea)}
                                        >
                                            <span
                                                class:list={[
                                                    getColor(subarea),
                                                    "block",
                                                ]}
                                            >
                                                {getChar(subarea)}
                                            </span>
                                            <span class="text-xs block">
                                                {subarea.okCount} /
                                                {subarea.totalCount}
                                            </span>
                                        </div>
                                    </div>
                                </Row>
                            ))}
                        </div>
                    </details>
                </div>
            ))
        }
    </div>
</Base>
